In [ ]:
import numpy as np
import pandas as pd

#Ejercicio 6
#Seleccionar los 10 primeros registros y crear una lista de nombre lista_1

In [ ]:
db = pd.read_csv('data/mtcars.csv', na_values='Not Provided')
db = db.iloc[0:10]
db
# Se transforma el archivo csv a dataframe y se selecciona los 10 primero valores

In [ ]:
lista1 = list(db['model'])
#Se transforma data frame a lista y se ordena por filas 
lista1

In [ ]:
lista1[3]
#Hornet 4 Drive

In [ ]:
lista1[4]
#Hornet Sportabout

In [ ]:
lista1.append(["gbi6","bio1","ikiam"])
#no retorna nada solo anade