In [ ]:
import numpy as np
import pandas as pd

#Ejercicio 6
#Seleccionar los 10 primeros registros y crear una lista de nombre lista_1

In [ ]:
db = pd.read_csv('data/mtcars.csv', na_values='Not Provided')
db = db.iloc[0:10]
db
# Se transforma el archivo csv a dataframe y se selecciona los 10 primero valores

In [ ]:
	model	mpg	cyl	disp	hp	drat	wt	qsec	vs	am	gear	carb
0	Mazda RX4	21.0	6	160.0	110	3.90	2.620	16.46	0	1	4	4
1	Mazda RX4 Wag	21.0	6	160.0	110	3.90	2.875	17.02	0	1	4	4
2	Datsun 710	22.8	4	108.0	93	3.85	2.320	18.61	1	1	4	1
3	Hornet 4 Drive	21.4	6	258.0	110	3.08	3.215	19.44	1	0	3	1
4	Hornet Sportabout	18.7	8	360.0	175	3.15	3.440	17.02	0	0	3	2
5	Valiant	18.1	6	225.0	105	2.76	3.460	20.22	1	0	3	1
6	Duster 360	14.3	8	360.0	245	3.21	3.570	15.84	0	0	3	4
7	Merc 240D	24.4	4	146.7	62	3.69	3.190	20.00	1	0	4	2
8	Merc 230	22.8	4	140.8	95	3.92	3.150	22.90	1	0	4	2
9	Merc 280	19.2	6	167.6	123	3.92	3.440	18.30	1	0	4	4

In [ ]:
lista1 = list(db['model'])
#Se transforma data frame a lista y se ordena por filas 
lista1

In [ ]:
lista1[3]
#Hornet 4 Drive